# Copyright 2018 Whitelamp http://www.whitelamp.com/

# Freely available open source project:
#     https://github.com/whitelamp-uk/hpapi-client-js

# Script is normally sourced from:
#     https://www.whitelamp.com/hpapi.js

# Typically:
#     <script defer src="https://www.whitelamp.com/hpapi.js"></script>

# You are free to run it from your own domain
# for stability but you will need to check/
# merge/replace at your own behest.

Header add Access-Control-Allow-Origin "*"



# Only GET is needed

Header add Access-Control-Allow-Methods "GET"


